@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=David+Libre:wght@400;500&family=Palanquin:wght@100&family=Thasadith&display=swap");

* {
  background-color: aliceblue;
  line-height: 1.3em;
  font-family: "David Libre", serif;
}
body {
  width: 100%;
}
p {
  font-size: 1.1em;
}
.hr1 {
  width: 85%;
}

.hr2 {
  width: 30%;
}

.code-svg,
.hobbies-svg {
  width: 250px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  position: fixed;
  width: 100%;
}

header nav {
  height: 20vh;
}

.navbar li a {
  font-size: 1.5em;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.me {
  border-radius: 50% 20% / 10% 40%;
  width: 400px;
  height: 400px;
  object-fit: contain;
  overflow: hidden;
}
.wolf {
  padding: 40px 0 20px 0;
  width: 350px;
  height: 350px;
}
h1 {
  font-weight: inherit;
  font-size: 7em;
  color: rgb(8, 8, 88);
}

.bloc-me {
  margin: 50px 0 50px 0;
  display: flex;
  align-items: center;
}
h2 {
  margin-left: 80px;
  font-weight: inherit;
  font-size: 4em;
  font-style: oblique;
  color: rgb(8, 8, 88);
}
.name {
  padding-left: 220px;
}
h3 {
  padding-top: 20px;
  font-weight: inherit;
  font-size: 2em;
  color: rgb(8, 8, 88);
}
.presentation {
  text-align: center;
}

.bloc-presentation {
  width: 80%;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: 0 auto;
}

.social-network a {
  color: rgb(8, 8, 88);
}

.social-network {
  position: fixed;
  top: 50%;
  right: 0;
  margin: 0 1%;
}

.social-network ul li {
  margin: 10px 0px;
  font-size: 1.5em;
  text-align: center;
}
/************* ARTICLE **************/

article {
  width: 90%;
  margin: 0 auto;
}
/************* SCROLLBAR **************/

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #c2d2e4;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: rgb(8, 8, 88);
}

/* Scrollbar sous Firefox */
.scroller-custom {
  scrollbar-width: thin;
  scrollbar-color: rgb(8, 8, 88);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(8, 8, 88);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(8, 8, 88);
}

/************* FORMATIONS **************/

/************* HOBBIES **************/
.formation {
  flex-direction: row-reverse;
}

.hobbies,
.formation {
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

span a {
  text-decoration: none;
  color: rgb(55, 55, 153);
  font-weight: 400;
}
.bloc-hobbies,
.bloc-formation {
  margin: 0 auto;
}

.h3-formation {
  text-align: right;
}

/************* COMPETENCES **************/
.bloc-competences {
  height: 200px;
  margin: 0 auto;
}
.competences {
  margin: 10px;
  display: flex;

  justify-content: center;
  gap: 50px;
}

.competences ul {
  text-align: center;
}

/************* FOOTER **************/
footer {
  bottom: 0;
}
footer ul {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
}

footer li a {
  font-size: 1.5em;

  margin: 50px;
  justify-content: center;
  text-decoration: none;
  color: black;
}

footer p {
  margin-bottom: 10px;
  color: rgb(8, 8, 88);
  font-size: 1em;
  text-align: center;
}

/*************  PAGE PROJECTS **************/

.projects {
  text-align: center;
}

/*************  RESPONSIVE **************/

@media screen and (max-width: 488px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
    text-align: center;
    margin-left: 0;
  }
  h3 {
    font-size: 1.6em;
    text-align: center;
  }

  .h3-formation {
    text-align: center;
  }
  .wolf {
    padding: 40px 0 20px 0;
    width: 250px;
    height: 250px;
  }
  .hr1 {
    width: 75%;
  }

  .name {
    padding-left: 50px;
  }
  .bloc-me {
    flex-direction: column;
    margin: 20px 0 20px 0;
  }

  .me {
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
  }
  .code-svg,
  .hobbies-svg {
    width: 150px;
  }

  .hobbies,
  .formation {
    flex-direction: column;
  }

  .code-svg,
  .hobbies-svg {
    width: 150px;
    padding-bottom: 40px;
  }

  .competences {
    margin: 30px;
  }
  .bloc-competences {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 640px) {
}
@media screen and (max-width: 910px) {
}
